@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes sound {
    10% {
      transform: scaleY(0.3); /* start by scaling to 30% */
    }

    30% {
      transform: scaleY(1); /* scale up to 100% */
    }

    60% {
      transform: scaleY(0.5); /* scale down to 50% */
    }

    80% {
      transform: scaleY(0.75); /* scale up to 75% */
    }

    100% {
      transform: scaleY(0.6); /* scale down to 60% */
    }
  }

  .sound-bar-static {
    width: 2px;
    border-radius: 4px;
    transform-origin: bottom;
    margin-right: 1px;
    content: "";
  }

  .sound-bar-animated {
    animation: sound 3s ease infinite alternate;
  }

  .sound-bar-static:nth-child(1) {
    transform: scaleY(0.5);
  }

  .sound-bar-static:nth-child(2) {
    animation-delay: -2.2s;
    transform: scaleY(0.4);
  }
  .sound-bar-static:nth-child(3) {
    animation-delay: -3.7s;
    transform: scaleY(0.8);
  }
  .sound-bar-static:nth-child(4) {
    animation-delay: -1.4s;
    transform: scaleY(0.3);
  }
}
